<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Genos:wght@300&display=swap" rel="stylesheet">
        <title>Home</title>
    </head>
    <style>
        html{
        scroll-behavior: smooth;
        width: 100%;
        }
    </style>
    <body class="bg-[#F3E8FF]">
        <nav class="bg-slate-300 text-white flex items-center py-4 px-5">            
            <ul class="flex space-x-10 text-black ml-[2%]">
                <li>
                    <a href=>Home</a>
                </li>
                <li>
                    <a href=>Our Products</a>
                </li>
                <li>
                    <a href=>About Us</a>
                </li>
                <li>
                    <a href=>Contact Us</a>
                </li>
                <li>
                    <a href ="login" target="blank">
                        <button class="ml-[400%] px-12 py-2 text-sm text-pink-500 font-semibold rounded-full border border-pink-500 hover:text-white hover:bg-pink-500 hover:border-transparent focus:outline-none focus:ring-2 focus:ring-zinc-200 focus:ring-offset-2">Login</button>
                    </a>
                </li>   
            </ul>   
        </nav>              
    </body>
</html> 